@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4vw;
}

section.normal {
    background-color: #ffffff;
}

section.imagem {
    background-color: #202020;
    color: #ffffff;
}

section.imagem > p {
    background-color: #000000c3;
    display: inline-block;
    padding: 5px;
    
}

footer {
    color: aliceblue;
    display: flex;
    margin: auto;
    background: #b4b7df url('imagens/background002.jpg') center center no-repeat;
    background-size: cover;
    color: #000000;
    padding: 4px 15px;
}
footer img {
    width: 30px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    height: 32px;
}

footer p {
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    background-color: #000000c4;
    margin: auto;
}

footer .fundo_colorido {
    border-radius: 4px;
    padding: 2.5px;
}

footer a.texto_decorado:hover {
    text-decoration: underline;
}

footer a > p#github {
    display: none;
}

footer a:hover > p#github {
    display: inline;
    font-weight: 700;
    background-color: #00000000;
    background-color: #000000c4;
}